<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->

<div class="row">
<% @cities.each do |city| %>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag(city.city_image), city %>

    <div class="caption">
      <h3><%= link_to city.city_name, city %></h3>
        <p><%= link_to city.city_description, city %></p>
      </div>
    </div>
  </div>
    
  <% end %>
</div>
  