<!-- Use view helpers (e.g. link_to and image_tag) -->
<!-- and implement real data -->
<h1> Welcome to City Sense! </h1>
<h2> 
The top 5 iconic sense attractions of every city - Once you've accomplished the City Senses, you've truly experienced the city! 
</h2>
<h3> <center> -- We are a work in progress, so please check back soon to see, taste, hear, smell, and experience all that we have to offer! --</center> </h3>


<div class="row">
<% @cities.each do |city| %>

<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag(city.city_image), city %>

    <div class="caption">
      <h3><%= link_to city.city_name, city %></h3>
        <p><%= link_to city.city_description, city %></p>
      </div>
    </div>
  </div>
    
  <% end %>
</div>
  