<h1>City Sense Experiences!</h1>

<p><a href="/cities/new" class="btn btn-primary">New City</a></p>

<table class="table">

  <% cities = City.all %>
  <% cities.each do |city| %>
  <tr>
  <td>
    <a href="/cities/<%= city.id %>"> <%= city.city_name %></a></td>
  </tr>

<% end %>
